build/
cmake-build-*/
*.o
*.a
*.so
*.d

.env
*.pem
*.key
docker-compose.override.yml

core.*
vgcore.*
*.log
*.gcda
*.gcno
callgrind.out.*

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
Thumbs.db
*.swp
*~

